 <app-hello-world />

 <ul id = "p7">
    <li> <app-place [place] ="places[0].name" [location] = "places[0].location"  (loc) = "send($event)"/> </li>
    <li> <app-place [place] ="places[1].name" [location] = "places[1].location"   (loc) = "send($event)" /> </li>
    <li> <app-place [place] ="places[2].name" [location] = "places[2].location"  (loc) = "send($event)"/> </li>
    <li> <app-place [place] ="places[3].name" [location] = "places[3].location"   (loc) = "send($event)" /> </li>
    <li> <app-place [place] ="places[4].name" [location] = "places[4].location"  (loc) = "send($event)"/> </li>
    <li> <app-place [place] ="places[5].name" [location] = "places[5].location"   (loc) = "send($event)" /> </li>
    <li> <app-place [place] ="places[6].name" [location] = "places[6].location"  (loc) = "send($event)"/> </li>
</ul>
 <p>Message from Child: {{ message }}</p>